.buttons {
    width: 500px;
    display: flex;
    justify-content: space-around;
  }
  
.buttons__button {
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    transition: transform .1s ease-out;
    cursor: pointer;
}

.buttons__button:hover {
    transform: scale(1.1);
}

.buttons__button--default {
    background-color: dodgerblue;
}

.buttons__button--start {
    background-color: #79A620;
}

.buttons__button--stop {
    background-color: firebrick;
}
