.pomodoros {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
.pomodoros__pomodoro {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: maroon;
    border-radius: 50%;
}

.pomodoros__pomodoro--completed {
    background-color: red;
}